<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="row footer" th:fragment="page_footer">
    <div class="row col-md-10  col-md-offset-1" style="margin-top: 20px;">
        <div class="col-md-4 col-md-offset-4" style="text-align:center">
            <h3>中国粮食研究培训中心文献库</h3>
            <p class="text-uppercase">相关链接：国家粮食和物资储备局官网</p>
            <p class="text-uppercase">主办单位：中国粮食研究培训中心</p>
            <p class="text-uppercase">&reg;2019 中国粮食研究培训中心</p>
        </div>
    </div>
</div>
</html>