<div id="toolbar">
    昵称：<input type="text" name="nickName" id="query-nick-name"/>
    邮箱：<input type="text" name="email" id="query-email"/>
    <input type="button" id="query" value="查询"/>
</div>
<table id="table"></table>
<div class="modal fade" id="employeeDlg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">编辑用户信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formid"  method="post" action="student/add.action">
                    <div class="form-group">
                        <label for="uname" class="col-md-3 control-label">姓名：</label>
                        <div class="col-md-8">
                            <input type="text" id="uname" name="uname" placeholder="姓名" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">密码：</label>
                        <div class="col-md-8">
                            <input type="text" id="password" name="password" placeholder="密码" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salt" class="col-md-3 control-label">盐值：</label>
                        <div class="col-md-8">
                            <input type="text" id="salt" name="salt" placeholder="盐值" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-md-3 control-label">加盐：</label>
                        <div class="col-md-8">
                            <input type="text" id="status" name="status" placeholder="加盐" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-center form-group">
                            <input type="hidden" id="sid" name="sid"/>
                            <button type="submit" class="btn btn-primary" data-dismiss="">确定</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function pageDivCallBack(){
        var $table;
        $(function() {
            $table = $('#table').bootstrapTable({
                url: '/admin/getAllUserByPaging',
                method: 'get',                     //请求方式（*）
                //post,contentType: "application/x-www-form-urlencoded",
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                pagination: true,                   //是否显示分页（*）
                sidePagination: "server",           //分页方式：client客户端分页(默认)，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                pageSize: 10,                     	//每页大小
                pageList: [5, 10, 15],        		//可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索
                strictSearch: false,					//设为true，开启精确搜索
                showColumns: true,                  //是否显示所有的列（选择显示的列）
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: false,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                 //每一行的唯一标识，一般为主键列
                showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false, 					//得到查询的参数
                queryParams : function (params) {
                    //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    var temp = {
                        pageSize: params.limit,                         //页面大小
                        pageNo: (params.offset / params.limit) + 1,  //页码
                        nickName:$("#query-nick-name").val(),
                        email:$("#query-email").val()
                        //sort: params.sort,      //排序列名
                        //sortOrder: params.order //排位命令（desc，asc）
                    }
                    return temp;
                },
                columns: [{
                    checkbox: false,
                    visible: false                  //是否显示复选框
                }, {
                    field: 'id',
                    title: '编号'
                }, {
                    field: 'nickName',
                    title: '昵称'
                }, {
                    field: 'loginName',
                    title: '登录名'
                },{
                    field: 'realName',
                    title: '真实姓名'
                },{
                    field: 'email',
                    title: '邮箱'
                },{
                    field: 'phone',
                    title: '联系方式'
                },{
                    field: 'efficativeDate',
                    title: '有效期'
                }, {
                    field: 'idCardNo',
                    title: '身份证'
                }, {
                    field: 'status',
                    title: '状态'
                } , {
                    field: 'id',
                    title: '操作',
                    formatter:function(value,row,index){
                        return "<button type='button' style='margin-right:20px;' class='btn btn-primary' data-toggle='modal' data-target='#employeeDlg'>编辑</button><button type='button' class='btn btn-danger'>删除</button>";
                    }
                } ],
                onLoadSuccess: function () {//加载绑定
                    $("#table .btn-primary").click(function(ev){
                        var tr = $(ev.target.parentElement.parentElement);
                        $("#uname").val(tr.children()[2].innerHTML);
                        $("#password").val(tr.children()[3].innerHTML);
                        $("#salt").val(tr.children()[4].innerHTML);
                        $("#status").val(tr.children()[5].innerHTML)
                    });
                },
                onLoadError: function () {
                    showTips("数据加载失败！");
                },
                onDblClickRow: function (row, $element) {
                    var id = row.id;
                    // alert(id);
                },
            });

            $("#query").click(function(){
                $("#table").bootstrapTable('refresh');
            });
        });
    }
</script>