<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
</head>
<body>
<div class="container-fluid">
    <div th:replace="common/page_header :: page_header"></div>

    <div class="row">
        <div class="panel panel-default col-md-8 col-md-offset-2">
            <div class="panel-body">
                <div class="row ">
                    <div class="col-md-3">
                        <img style="width: 200px;height: 300px" class="rounded" th:src="${boList.get(0).documentImagePath}" alt="...">
                    </div>
                    <div class="col-md-9">
                        <p class="lead"><strong th:text="${boList.get(0).getDocumentInfo().getDocumentName()}"></strong></p>
                        <blockquote><p>基本信息</p></blockquote>
                        <p class="row">
                            <span class="col-md-4"><label><strong>年份：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentYear()}"></span></span>
                            <span class="col-md-4"><label><strong>页数：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentTotalPage()}"></span></span>
                            <span class="col-md-4"><label><strong>内容简介：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentSummaryDesc()}"></span></span>
                        </p>
                        <p class="row">
                            <span class="col-md-4"><label><strong>ISBN：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentIsbn()}"></span></span>
                            <span class="col-md-4"><label><strong>字数（千字）：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentTotalCount()}"></span></span>
                            <span class="col-md-4"><label><strong>主编单位：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentPublisher()}"></span></span>
                        </p>
                        <p class="row">
                            <span class="col-md-4"><label><strong>人民币定价（元）：¥</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentPrice()}"></span></span>
                            <span class="col-md-4"><label><strong>作者：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentAuthor()}"></span></span>
                            <span class="col-md-4"><label><strong>出版日期：</strong></label><span th:text="${boList.get(0).getDocumentInfo().getDocumentYear()}"></span></span>
                        </p>
                        <div class="row" style="padding-top: 30px;">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#by-year" role="tab" data-toggle="tab">年份浏览</a>
                                </li>
                                <li role="presentation">
                                    <a href="#by-menu" role="tab" data-toggle="tab">目录浏览</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="by-year">
                                <div class="row" style="padding-top: 10px;">
                                    <ul class="nav nav-tab vertical-tab col-md-1" role="tablist">
                                        <li role="presentation" th:each="bo,boStat : ${boList}" th:class="${boStat.index==0}? 'active' : ''">
                                            <a th:href="'#data-'+${bo.getDocumentInfo().getDocumentYear()}" role="tab" data-toggle="tab" th:text="${bo.getDocumentInfo().getDocumentYear()}"></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content vertical-tab-content col-md-11 col-md-offset-0"
                                         style="padding-top: 10px;">
                                        <div role="tabpanel" th:each="bo,boStat : ${boList}" th:id="'data-'+${bo.getDocumentInfo().getDocumentYear()}" th:class="${boStat.index==0}? 'tab-pane fade active in' : 'tab-pane fade'">
                                            <p style="border-bottom: 1px solid #1b66e6;" th:text="${bo.getDocumentInfo().getDocumentYear()}"></p>
                                            <p class="glyphicon glyphicon-minus"> <a th:href="'downLoadPage?documentId='+${bo.getDocumentInfo().getDocumentId()}+'&year='+${bo.getDocumentInfo().getDocumentYear()}" th:text="${bo.getDocumentInfo().getDocumentName()}"></a> </p>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-12 col-md-offset-0" th:utext="${bo.createMenuHtml()}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade in" id="by-menu">
                                <div class="row" style="padding-top: 10px;">
                                    <ul class="nav nav-tab vertical-tab col-md-2" role="tablist">
                                        <li role="presentation" th:each="menuName,menuNameStat : ${flatMenuMap.keySet()}" th:class="${menuNameStat.index==0}? 'active' : ''">
                                            <a th:href="'#data-'+${menuName}+'-menu'" role="tab" data-toggle="tab" th:text="${menuName}"></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content vertical-tab-content col-md-10" style="padding-top: 10px;">
                                        <div role="tabpanel" th:each="menuName,menuNameStat : ${flatMenuMap.keySet()}" th:id="'data-'+${menuName}+'-menu'" th:class="${menuNameStat.index==0}? 'tab-pane fade active in' : 'tab-pane fade'">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>名称</th>
                                                    <th>页码</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="menuItem,menuItemStat : ${flatMenuMap.get(menuName)}">
                                                    <th scope="row" th:text="${menuItemStat.index}+1"></th>
                                                    <td><a th:href="@{/downLoadPage(menuId=${menuItem.getId()})}" th:text="${menuItem.getMenuName()}"></a></td>
                                                    <td th:text="${menuItem.getMenuPage()}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/page_footer :: page_footer"></div>
</div>
<script src="/static/javascript/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/static/javascript/hello.js"></script>
<script src="/static/javascript/page_header.js"></script>
<script src="/static/javascript/detail.js"></script>
</body>
</html>
