<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulltext.project.dao.DocumentStorageMapper">
  <resultMap id="BaseResultMap" type="com.fulltext.project.entity.DocumentStorage">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="document_id" jdbcType="BIGINT" property="documentId" />
    <result column="element_type" jdbcType="INTEGER" property="elementType" />
    <result column="element_path" jdbcType="VARCHAR" property="elementPath" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

    delete from document_storage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fulltext.project.entity.DocumentStorage">

    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into document_storage (document_id, element_type, element_path, 
      status, create_time, update_time
      )
    values (#{documentId,jdbcType=BIGINT}, #{elementType,jdbcType=INTEGER}, #{elementPath,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fulltext.project.entity.DocumentStorage">

    update document_storage
    set document_id = #{documentId,jdbcType=BIGINT},
      element_type = #{elementType,jdbcType=INTEGER},
      element_path = #{elementPath,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

    select id, document_id, element_type, element_path, status, create_time, update_time
    from document_storage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, document_id, element_type, element_path, status, create_time, update_time
    from document_storage
  </select>

  <select id="selectOneByDocumentIdAndElementType" resultMap="BaseResultMap">
    select id, document_id, element_type, element_path, status, create_time, update_time
    from document_storage
    where document_id=#{documentId} and element_type=#{elementType}
    limit 1;
  </select>

  <select id="selectOneByDocumentIdAndMenuIdAndElementType" resultMap="BaseResultMap">
    select id, document_id, element_type, element_path, status, create_time, update_time
    from document_storage
    where document_id=#{documentId} and element_type=#{elementType} and menu_id=#{menuId}
    limit 1;
  </select>
</mapper>