<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fulltext.project.dao.NoticeFlowMapper">
  <resultMap id="BaseResultMap" type="com.fulltext.project.entity.NoticeFlow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="target_user_id" jdbcType="BIGINT" property="targetUserId" />
    <result column="notice_id" jdbcType="BIGINT" property="noticeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from notice_flow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fulltext.project.entity.NoticeFlow">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into notice_flow (target_user_id, notice_id, status,
      create_time, update_time)
    values (#{targetUserId,jdbcType=BIGINT}, #{noticeId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fulltext.project.entity.NoticeFlow">
    update notice_flow
    set target_user_id = #{targetUserId,jdbcType=BIGINT},
      notice_id = #{noticeId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, target_user_id, notice_id, status, create_time, update_time
    from notice_flow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, target_user_id, notice_id, status, create_time, update_time
    from notice_flow
  </select>
  <select id="selectNoticeFlowByTargetUserId" resultMap="BaseResultMap">
    select id, target_user_id, notice_id, status, create_time, update_time
    from notice_flow
    where target_user_id=#{userId} and DATE_ADD(create_time,INTERVAL 30 DAY) >now();
  </select>
</mapper>